.listbox {
  background-color: bisque;
  color: crimson;
  width: 150px;
  font-size: large;
  height: 80px;
  border: solid coral 10px;
  border-radius: 0 20px 0 20px;
}

.inpttxt {
  background-color: burlywood;
  color: firebrick;
  font-size: large;
  width: 200px;
  font-weight: 600;
  border: solid chocolate 4px;
  border-radius: 8px;
}
